#HomeLinkList li {
  list-style-type: none;
  margin: 0 auto;
  max-width: 400px;
}
#BackendTable {
  margin: 0 auto;
  margin-bottom: 30px;
}
#BackendTable td {
  border-bottom: dotted 1px;
  padding: 5px;
  min-width: 100px;
  text-align: center;
}
#BackendTable td.short {
  min-width: 0px;
}
#BackendTable td.form {
  border-bottom: dotted 1px;
}
#BackendTable td.form input {
  width: 110px;
}
#BackendTable tr:hover {
  background-color: white;
}
form#BackendEditForm table {
  margin: 0 auto;
  text-align: left;
}
form#BackendEditForm table td {
  padding: 5px;
  min-width: 100px;
  border-bottom: dotted 1px;
}
form#BackendEditForm table input[type="submit"] {
  width: 80%;
  margin: 5 10%;
}
#NavLinkList li {
  list-style-type: none;
}
#NavLinkList #SubNavLinkList {
  margin: 0 auto;
  max-width: 80%;
}
#NavLinkList #SubNavLinkList li {
  border-left: solid 1px;
}
