/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.05.2014, 00:44:26
    Author     : Freakshow
*/
div.post {
  padding: 20px;
  margin: 20px;
  text-align: left;
}
div.post p.title {
  margin-bottom: 10px;
  font-size: 1.2em;
}
div.post .text {
  margin-left: 20px;
  text-align: left;
}
div.post p.info {
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  opacity: .7;
  font-size: .9em;
}
div.post a.cont {
  opacity: .7;
}
div.post a:hover {
  color: #990000;
}
div.post:hover {
  background-color: white;
}
