/*
    Created on : 07.04.2014, 21:23:10
    Author     : Freakshow
*/
* {
  margin: 0;
  padding: 0;
  font-family: Consolas;
}
body {
  background-color: #ffffff;
}
header,
footer,
nav,
article {
  background-color: #e6e6e6;
  padding: 10px;
}
header,
footer,
#wrapper {
  margin: 0 auto;
  width: 90%;
  min-width: 600px;
  text-align: center;
}
header {
  height: 50px;
}
#wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#wrapper article,
#wrapper nav {
  margin: 10px;
}
#wrapper article {
  /*flex-grow: 5;*/
  width: 70%;
  min-height: 500px;
}
#wrapper nav {
  width: 25%;
  /*flex-grow: 1;*/
}
footer {
  height: 50px;
}
a.button {
  opacity: .6;
  display: block;
  color: #000000;
  border: solid 1px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}
a.button:hover {
  opacity: 1;
  color: #990000;
  background-color: #cccccc;
}
a.button:active {
  opacity: 1;
  outline: inset 2px;
  margin: 5px;
}
a.button_a {
  opacity: 1;
}
input.button {
  background: none;
  opacity: .6;
  color: #000000;
  border: solid 1px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}
input.button:hover {
  opacity: 1;
  color: #990000;
  background-color: #cccccc;
}
input.button:active {
  opacity: 1;
  outline: inset 2px;
  margin: 5px;
}
input.button:focus {
  opacity: 1;
  color: #990000;
  background-color: #cccccc;
}
a {
  color: #000000;
}
h1 {
  margin-bottom: 30px;
}
