#HomeLinkList{
	li{
		list-style-type: none;
		margin: 0 auto;
		max-width: 400px;
	}
}

#BackendTable{
	margin: 0 auto;
	margin-bottom: 30px;
	td{
		border-bottom: dotted 1px;
		padding: 5px;
		min-width: 100px;
		text-align: center;
	}
	td.short{
		min-width: 0px;
	}
	td.form{
		border-bottom: dotted 1px;
		input{
			width: 110px;
		}
	}
	tr:hover{
		background-color: white;
	}
}
form#BackendEditForm{
	table{
		margin: 0 auto;
		text-align: left;
		td{
			border-bottom: dotted 1px;
			padding: 5px;
			min-width: 100px;
			border-bottom: dotted 1px;
		}
		input[type="submit"]{
			width: 80%;
			margin: 5 10%;
		}
	}
}
#NavLinkList{
	li{
		list-style-type: none;
	}
	#SubNavLinkList{
		margin: 0 auto;
		max-width: 80%;
		li{
			border-left: solid 1px;
		}
	}
}