/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.05.2014, 00:44:26
    Author     : Freakshow
*/
div.post{
	padding: 20px;
	margin: 20px;
	text-align: left;
	p.title{
		margin-bottom: 10px;
		font-size: 1.2em;

	}
	.text{
		margin-left: 20px;
		text-align: left;
	}
	p.info{
		margin-top: 10px;
		margin-left: 20px;
		text-align: left;
		opacity: .7;
		font-size: .9em;
	}
	a.cont{
		opacity: .7;
	}
	a:hover{
		color : darken(red, 20);
	}
}
div.post:hover{
	background-color: white;
}